ArmyJULWOJ/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56226/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56226/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56226/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryJULWOJ" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetTank_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTank" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTank_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTankResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTank_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTank" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTank_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTankResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTanks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTanksResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetTank">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTank" message="tns:IService1_GetTank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTankResponse" message="tns:IService1_GetTank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTank">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateTank" message="tns:IService1_CreateTank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateTankResponse" message="tns:IService1_CreateTank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTanks" message="tns:IService1_GetAllTanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTanksResponse" message="tns:IService1_GetAllTanks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTank">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTank">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateTank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTanks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56226/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>